<div class="content" ng-controller="DetailsController as model">
    <div class="movie_top">
        <div class="col-md-9 movie_box">
            <div class="grid images_3_of_2">
                <div class="movie_image">
                    <span class="movie_rating">{{model.movie.imdbRating}}</span>
                    <img ng-src="http://img.omdbapi.com/?i={{model.movie.imdbID}}&apikey=2bf5ee9"
                         width="320px"
                         class="img-responsive" alt=""/>
                </div>
            </div>
            <div class="desc1 span_3_of_2">
                <p class="movie_option"><strong>Country: </strong>{{model.movie.Country}}</p>
                <p class="movie_option"><strong>Year: </strong>{{model.movie.Year}}</p>
                <p class="movie_option"><strong>Category: </strong>{{model.movie.Genre}}</p>
                <p class="movie_option"><strong>Release date: </strong>{{model.movie.Released}}</p>
                <p class="movie_option"><strong>Director: </strong>{{model.movie.Director}}</p>
                <p class="movie_option"><strong>Actors: </strong>{{model.movie.Actors}}</p>
                <p class="movie_option"><strong>Runtime: </strong>{{model.movie.Runtime}}</p>
                <p ng-if="currentUser"
                   class="movie_option"
                   style="float: left;">
                    <strong>Like it?</strong>
                </p>
                <button ng-if="currentUser"
                        class="btn btn-danger"
                        ng-click="model.favorite(model.movie)"
                        style="float: left; margin-left: 10px;">
                    <span ng-show="model.record.likes.indexOf(currentUser._id) > -1"
                          class="glyphicon glyphicon-star"></span>
                    <span ng-show="!model.record || !model.record.likes || model.record.likes.indexOf(currentUser._id) == -1"
                          class="glyphicon glyphicon-star-empty">
                    </span>
                </button>
                <button ng-if="currentUser && model.record && model.record.likes && model.record.likes.indexOf(currentUser._id) > -1"
                        class="btn btn-primary"
                        ng-click="model.unfavorite(model.movie)"
                        style="float: left; margin-left: 10px;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="clearfix"> </div>
            <p class="m_4">{{model.movie.Plot}}</p>
            <div class="clearfix"></div>
            <!-- Leave the comments here for a while -->
            <form ng-if="currentUser" class="single">
                <div class="text">
                    <textarea onfocus="this.value = '';"
                              onblur="if (this.value == '') {this.value = 'Message';}"
                              ng-model="model.review.content">Message:</textarea>
                </div>
                <div class="form-submit1">
                    <input name="submit" type="submit" id="submit" value="Submit" ng-click="model.comment(model.review)">
                    <br>
                </div>
                <div class="clearfix"></div>
            </form>
            <div ng-if="currentUser" class="single">
                <h1>Other Users that Like This Movie</h1>
                <ul>
                    <li ng-repeat="user in model.users" style="font-size: 25px;">
                        <a href="#/others/{{user.username}}">
                            {{user.username}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div ng-if="currentUser" class="single">
                <h1>{{model.reviews.length}} Comments</h1>
                <ul class="single_list" ng-repeat="review in model.reviews">
                    <li>
                        <div class="preview"><span class="glyphicon glyphicon-user"></span></div>
                        <div class="data" style="font-size: large;">
                            <div class="title"><a href="#/others/{{review.username}}">{{review.username}}</a></div>
                            <p>{{review.content}}</p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="movie_img"><div class="grid_2">
                <img src="images/pic6.jpg" class="img-responsive" alt="">
            </div>
            </div>
            <div class="grid_2 col_1">
                <img src="images/pic7.jpg" class="img-responsive" alt="">
            </div>
            <div class="grid_2 col_1">
                <img src="images/pic9.jpg" class="img-responsive" alt="">
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>