<div class="container" ng-controller="FooterController">
    <footer id="footer">
        <div id="footer-3d">
            <div class="gp-container">
                <span class="first-widget-bend"></span>
            </div>
        </div>
        <div id="footer-widgets" class="gp-footer-larger-first-col">
            <div class="gp-container">
                <div class="footer-widget footer-1">
                    <br>
                    <p>It's established for movie lovers and please enjoy here!</p>
                </div>
                <div class="footer_box">
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>Follow Us</h3>
                        <ul class="first">
                            <li><a href="https://www.facebook.com/steven.xu.771">Facebook</a></li>
                            <li><a href="https://twitter.com/steven_shifu_xu">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/stevenshifuxu">Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>Contact Us</h3>
                        <ul class="first">
                            <li><a>(857)-999-1777</a></li>
                            <li><a href="mailto:shifuxu@ccs.neu.edu">shifuxu@ccs.neu.edu</a></li>
                            <li><a>2 Highland Ter, Malden, MA</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <br/>
                        <br/>
                        <div class="copy">
                            <p>2016 by <a href="https://github.com/shifuxu" target="_blank">Shifu Xu</a>&copy; NEU</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </footer>
</div>