<div class="content" ng-controller="OthersController as model">
    <form>
        <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
        <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
        <div class="register-top-grid">
            <h3>{{model.user.username}}'s Information</h3>
            <div>
                <span>First Name<label>:</label></span>
                {{model.user.firstName}}
            </div>
            <div>
                <span>Last Name<label>:</label></span>
                {{model.user.lastName}}
            </div>
            <div>
                <span>Email Address<label>:</label></span>
                {{model.user.email}}
            </div>
            <a class="divider"></a>
        </div>
        <!--<div ng-if="model.profile.likesMovies.length" class="register-bottom-grid">-->
            <!--<h3>Movie Likes</h3>-->
            <!--<div class="panel panel-default self-panel"-->
                 <!--style="width: 150px;"-->
                 <!--ng-repeat="movie in model.profile.likesMovies">-->
                <!--<div class="panel-body">-->
                    <!--<a href="#/details/{{movie.imdbID}}">-->
                        <!--<img ng-src="http://img.omdbapi.com/?i={{movie.imdbID}}&apikey=2bf5ee9" width="100px"/>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a class="divider"></a>-->
            <!--<div class="clearfix"> </div>-->
        <!--</div>-->
        <div class="register-bottom-grid">
            <h3>Movie Comments</h3>
            <a class="divider"></a>
            <div class="clearfix"> </div>
        </div>
        <div class="register-bottom-grid">
            <h3>Followed Friends</h3>
            <div class="clearfix"> </div>
        </div>
        <div class="register-bottom-grid">
            <h3>Follow?</h3>
            <button class="btn btn-danger"
                    ng-click="model.follow(model.user)">
                <span ng-if="!model.currentUser || !model.currentUser.follows || model.currentUser.follows.indexOf(model.user.username) == -1"
                      class="glyphicon glyphicon-star-empty"></span>
                <span ng-if="model.currentUser.follows.indexOf(model.user.username) > -1"
                      class="glyphicon glyphicon-star"></span>
            </button>
            <button ng-if="model.currentUser.follows.indexOf(model.user.username) > -1"
                    class="btn btn-primary"
                    ng-click="model.unfollow(model.user)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </form>
    <div class="clearfix"> </div>
</div>