<div class="content" ng-controller="ProfileController as model">
    <form>
        <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
        <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
        <div class="register-top-grid">
            <h3>Personal Information</h3>
            <div>
                <span>First Name<label>*</label></span>
                <input ng-model="model.currentUser.firstName"
                       class="form-control"
                       placeholder="{{model.currentUser.firstName}}">
            </div>
            <div>
                <span>Last Name<label>*</label></span>
                <input ng-model="model.currentUser.lastName"
                       class="form-control"
                       placeholder="{{model.currentUser.lastName}}">
            </div>
            <div>
                <span>Username<label>*</label></span>
                <input ng-model="model.currentUser.username"
                       class="form-control"
                       placeholder="{{model.currentUser.username}}">
            </div>
            <div>
                <span>Password<label>*</label></span>
                <input ng-model="model.currentUser.password"
                       class="form-control"
                       placeholder="{{model.currentUser.password}}">
            </div>
            <div>
                <span>Email Address<label>*</label></span>
                <input ng-model="model.currentUser.email"
                       type="email"
                       class="form-control"
                       placeholder="{{model.currentUser.email}}">
            </div>
            <a class="divider"></a>
        </div>
        <div>
            <button type="submit" ng-click="model.update(model.currentUser)" class="update-btn">Update</button>
            <div class="clearfix"> </div>
        </div>
        <div ng-if="model.profile.likesMovies.length" class="register-bottom-grid">
            <h3>Movie Likes</h3>
            <div class="panel panel-default self-panel"
                 style="width: 150px;"
                 ng-repeat="movie in model.profile.likesMovies">
                <div class="panel-body">
                    <a href="#/details/{{movie.imdbID}}">
                        <img ng-src="{{movie.poster}}" width="100px"/>
                    </a>
                </div>
            </div>
            <a class="divider"></a>
            <div class="clearfix"> </div>
        </div>
        <div class="register-bottom-grid">
            <h3>Movie Comments</h3>
            <a class="divider"></a>
            <div class="clearfix"> </div>
        </div>
        <div class="register-bottom-grid">
            <h3>Followed Friends</h3>
            <div class="clearfix"> </div>
        </div>
    </form>
    <div class="clearfix"> </div>
</div>