<div class="content" ng-controller="ProfileController as model">
    <form>
        <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
        <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
        <div class="register-top-grid">
            <h3>Personal Information</h3>
            <div>
                <span>First Name<label>*</label></span>
                <input ng-model="model.currentUser.firstName"
                       class="form-control"
                       placeholder="{{model.currentUser.firstName}}">
            </div>
            <div>
                <span>Last Name<label>*</label></span>
                <input ng-model="model.currentUser.lastName"
                       class="form-control"
                       placeholder="{{model.currentUser.lastName}}">
            </div>
            <div>
                <span>Username<label>*</label></span>
                <input ng-model="model.currentUser.username"
                       class="form-control"
                       placeholder="{{model.currentUser.username}}">
            </div>
            <div>
                <span>Password<label>*</label></span>
                <input ng-model="model.currentUser.password"
                       class="form-control"
                       placeholder="{{model.currentUser.password}}">
            </div>
            <div>
                <span>Email Address<label>*</label></span>
                <input ng-model="model.currentUser.email"
                       type="email"
                       class="form-control"
                       placeholder="{{model.currentUser.email}}">
            </div>
            <a class="divider"></a>
        </div>
        <div>
            <button type="submit" ng-click="model.update(model.currentUser)" class="update-btn">
                Update
            </button>
            <div class="clearfix"> </div>
        </div>
        <div class="register-bottom-grid">
            <h3>Movie Likes</h3>
            <p ng-if="!model.profile.likesMovies.length">
                No movies liked, please add from the search page!
            </p>
            <div class="panel panel-default self-panel"
                 style="width: 150px;"
                 ng-repeat="movie in model.profile.likesMovies">
                <div class="panel-body">
                    <a href="#/details/{{movie.imdbID}}">
                        <img ng-src="http://img.omdbapi.com/?i={{movie.imdbID}}&apikey=2bf5ee9" width="100px"/>
                    </a>
                </div>
            </div>
            <a class="divider"></a>
            <div class="clearfix"> </div>
        </div>
        <div class="comment-grid">
            <h3>Movie Comments</h3>
            <p ng-show="model.reviews.length == 0">No comments made yet, please add comments in the details page!</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>
                            Title
                        </th>
                        <th>
                            Comment
                        </th>
                        <th>
                            Action
                        </th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="review in model.reviews">
                            <td><a href="#/details/{{review.imdbID}}">{{review.title}}</a></td>
                            <td>{{review.content}}</td>
                            <td>
                                <button ng-click="model.deleteComment(review)"
                                        class="btn btn-danger pull-middle">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="divider"></a>
            <div class="clearfix"> </div>
        </div>
        <div class="search-grid">
            <h3>Followed Friends</h3>
            <div ng-show="model.searchError" class="alert alert-danger" role="alert">{{model.searchError}}</div>
            <p ng-if="!model.profile.follows.length">
                You do not have any followed friends, please search
            </p>
            <div ng-repeat="username in model.profile.follows"
                 class="row"
                 style="font-size: large;">
                <div class="col-xs-5">
                    {{username}}
                </div>
                <div class="col-xs-1">
                    <a ng-click="model.unfollow(username)" class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <div class="col-xs-6"></div>
            </div>
            <br/>
            <div style="width: 48%">
                <div angucomplete-alt
                     placeholder="Search friends"
                     pause="500"
                     selected-object="selectedUser"
                     remote-url="/api/project/omdb/search/"
                     title-field="username"
                     minlength="1"
                     input-class="form-control form-control-small"
                     match-class="highlight"
                     style="font-size: large">
                </div>
                <button ng-click="model.search(selectedUser.originalObject.username)"
                        class="btn btn-danger btn-block"
                        type="button">
                    Add Friend
                </button>
            </div>
            <div class="clearfix"> </div>
        </div>
    </form>
    <div class="clearfix"> </div>
</div>