<div class="header_top" ng-controller="HeaderController">
    <div class="col-sm-3">
        <a href="#/home"><img style="float: left;" src="images/logo1.png"/></a>
        <h2 style="float: left; margin-left: 10px;">Movie Hub</h2>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-3 header_right">
        <ul class="header_right_box">
            <li><p><a href="login.html">Search</a></p></li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>