<div class="content" ng-controller="LoginController">
    <div class="register">
        <div class="col-md-6 login-left">
            <h3>New Customers</h3>
            <p>By creating an account with our website, you will be able to have a better experience.</p>
            <a class="acount-btn" href="#/register">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
            <h3>Registered Customers</h3>
            <p>If you have an account, please log in.</p>
            <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
            <form>
                <div>
                    <span>Email Address<label>*</label></span>
                    <input ng-model="user.username" class="form-control" placeholder="username">
                </div>
                <div>
                    <span>Password<label>*</label></span>
                    <input ng-model="user.password" type="password" class="form-control" placeholder="password">
                </div>
                <button ng-click="login(user)" class="acount-btn">Login</button>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>