<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li role="presentation" class="active"><a href="#">Fileds</a></li>
    </ul>
    <br/>
    <div>
        <sorted-div data="model.fields"
                    remove="model.removeField(field)"
                    edit="model.editField(field)">

        </sorted-div>

        <hr/>

        <div class="row">
            <p class="col-sm-4">Add New Field:</p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <select class="form-control" ng-model="model.fieldType">
                    <option disabled selected value> -- Select an option -- </option>
                    <option value="slt">Single Line Text Field</option>
                    <option value="mlt">Multi Line Text Field</option>
                    <option value="date">Date Field</option>
                    <option value="dropdown">Dropdown Field</option>
                    <option value="checkbox">Checkboxes Field</option>
                    <option value="radiobutton">Radio Buttons Field</option>
                </select>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <a ng-click="model.addField(model.fieldType)" class="glyphicon glyphicon-plus"></a>
            </div>
        </div>
    </div>
</div>