<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AdminController as model">
    <h1 class="page-header">Admin</h1>
    <h3>Users</h3>
    <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        <a ng-hide="model.showDscendUsername"
                           ng-click="model.sortAscend(model.username)"
                           class="glyphicon glyphicon-triangle-top">
                        </a>
                        <a ng-show="model.showDscendUsername"
                           ng-click="model.sortDescend(model.username)"
                           class="glyphicon glyphicon-triangle-bottom">
                        </a>
                        Username
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        <a ng-hide="model.showDscendFirstName"
                           ng-click="model.sortAscend(model.firstName)"
                           class="glyphicon glyphicon-triangle-top">
                        </a>
                        <a ng-show="model.showDscendFirstName"
                           ng-click="model.sortDescend(model.firstName)"
                           class="glyphicon glyphicon-triangle-bottom">
                        </a>
                        First Name
                    </th>
                    <th>
                        <a ng-hide="model.showDscendLastName"
                           ng-click="model.sortAscend(model.lastName)"
                           class="glyphicon glyphicon-triangle-top">
                        </a>
                        <a ng-show="model.showDscendLastName"
                           ng-click="model.sortDescend(model.lastName)"
                           class="glyphicon glyphicon-triangle-bottom">
                        </a>
                        Last Name
                    </th>
                    <th>
                        Roles
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                <tr>
                    <td>
                        <input ng-model="model.user.username"
                               class="form-control ng-pristine ng-valid ng-touched"
                               placeholder="username">
                    </td>
                    <td>
                        <input ng-model="model.user.password"
                               type="password"
                               class="form-control ng-pristine ng-valid ng-touched"
                               placeholder="password">
                    </td>
                    <td>
                        <input ng-model="model.user.firstName"
                               class="form-control ng-pristine ng-valid ng-touched"
                               placeholder="first name">
                    </td>
                    <td>
                        <input ng-model="model.user.lastName"
                               class="form-control ng-pristine ng-valid ng-touched"
                               placeholder="last name">
                    </td>
                    <td>
                        <input ng-model="model.user.roles"
                               class="form-control ng-pristine ng-valid ng-touched"
                               placeholder="role1,role2...">
                    </td>
                    <td>
                        <div>
                            <button style="float: left;"
                                    class="btn btn-primary" ng-click="model.addUser(model.user)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-success" ng-click="model.updateUser(model.user)">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in model.users | orderBy: model.type">
                    <td>
                        {{user.username}}
                    </td>
                    <td>
                    </td>
                    <td>
                        {{user.firstName}}
                    </td>
                    <td>
                        {{user.lastName}}
                    </td>
                    <td>
                        {{user.roles}}
                    </td>
                    <td>
                        <div>
                            <button style="float: left;"
                                    class="btn btn-danger" ng-click="model.deleteUser(user)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-warning" ng-click="model.selectUser(user)">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
